@font-face
{
    font-family:'Leaf';
    src: url('http://dl.dafont.com/dl/?f=leafs');

}

body {
    background-color: lime;
    font-family: Papyrus;
    font-size: x-large;
    font-weight: bold;
}
h1 {
    color: Black;
    font-family: Leaf;
    font-size: x-large;
}
p {
    color: blue;
}
h2 {

    color: Red;
    font-family: C


}